body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0px;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.toggle-btn {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    margin-top: 10px;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

.nav-btn {
    background: none;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
    margin-top: 50px;
}

.nav-btn:hover {
    background-color: #444;
}

.active {
    background-color: #444;
}

.logout-btn {
    background: none;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: 0.2s;
}

.logout-btn:hover {
    background-color: #444;
}

.content {
    margin-left: 0;
    transition: 0.3s;
    padding: 20px;
}
.top-content {
    position: absolute;
    top: 10%;
}
.temp-card{
    position: absolute;
    top: 5%;
    left: 275px;
    height: 75px;
    width: 200px;
    background-color: blue;
}

.humid-card{
    position: absolute;
    top: 5%;
    left: 500px;
    height: 75px;
    width: 200px;
    background-color: #444;
}

.moist-card{
    position: absolute;
    top: 5%;
    left: 725px;
    height: 75px;
    width: 200px;
    background-color: #444;
}

.sun-card{
    position: absolute;
    top: 5%;
    left: 950px;
    height: 75px;
    width: 200px;
    background-color: #444;
}

.main-chart-card{
    position: absolute;
    top: 25%;
    left: 300px;
    height: 350px;
    width: 875px;
    background-color: #fff;
}

.temp-chart {
    height: 250px;
    width: 400px;
    background-color: #444;
    position: absolute;
    left:0;
}

.humid-chart{
    height: 250px;
    width: 400px;
    background-color: #444;
    position: absolute;
    left: 475px;
}

.alerts-card{
    position: absolute;
    height: 150px;
    width: 875px;
    background-color: blue;
    top: 65%;
    left: 300px;
}