.opencv-card{
    position: absolute;
    height: 650px;
    width: 45%;
    top:0px;
    left: 300px;
}

.image-card{
    position: absolute;
    top: 2.5%;
    left: 105px;
    height: 250px;
    width: 350px;
    background-color: #fff;
    border-radius: 5px;
    border: 2px solid lightgrey;
}

.issue-card{
    position: absolute;
    top: 45%;
    left: 5px;
    height: 250px;
    width: 250px;
    background-color: #fff;
    border-radius: 5px;
    border: 2px solid lightgrey;
}

.fix-card{
    position: absolute;
    top: 45%;
    left: 321px;
    height: 250px;
    width: 250px;
    background-color: #fff;
    border-radius: 5px;
    border: 2px solid lightgrey;
}

.image-input-card{
    position: absolute;
    height: 75px;
    width: 150px;
    background-color: #fff;
    top: 85%;
    left: 37.5%;
    border-radius: 50%;
    border-radius: 5px;
    border: 2px solid lightgrey;
}

.stadichat{
    position: absolute;
    height: 630px;
    width: 25%;
    top:10px;
    right: 10px;
    border-radius: 5px;
    border: 2px solid lightgrey;
}
#chat-output{
    position: absolute;
    top: 0;
    background-color: grey;
    height: 60%;
    width: 100%;
}